<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>249803133469-13kpmeuocu5juqptm40gj588nm3obtgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249803133469-13kpmeuocu5juqptm40gj588nm3obtgp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_S8iIwK1wr2B8h1fuR619-0MFMCekLoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>249803133469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.careypo.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktackular-e82fa</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktackular-e82fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249803133469:ios:5535e2dd3ab0e897</string>
	<key>DATABASE_URL</key>
	<string>https://snacktackular-e82fa.firebaseio.com</string>
</dict>
</plist>